@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: overlay;
}

ul,
ol {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.25);
  border-radius: 20px;
}

::-webkit-scrollbar-track:hover {
  background-color: rgba(125, 125, 125, 0.5);
}

.app {
  display: flex;
  position: relative;
}

.content {
  overflow-y: overlay;
}
